.title-header-tabs {
  display: inline-block;
}
.btn-header-tabs {
  border: none;
  background: transparent;
  margin: 5px;
}

.form-default {
  padding: 5px;
}

#container-etapas-js {
  display: none;
}
