{% extends 'layout.twig' %}

{% block content %}
<form action="./professor/" method="post">
	Nome
	<input type="text" name="nome">
	<br>
	E-mail
	<input type="text" name="email">
	<br>
	Telefone
	<input type="text" name="telefone">
	<br>
	Sexo
	<input type="text" name="sexo">

	<button type="submit">Cadastrar</button>

	<input type="hidden" name="_method" value="POST">
</form>
{% endblock %}
