{% extends "layout.twig" %}

{% block content %}

<div class="container">
	<h1>Incluir Professor</h1>
	<div class="row">
		<form action="professor" method="POST">
			<div class="col-md-5 col-sm-12 ">
				<div class="form-group">
					<label>	Nome: <br/>
					<input type="text" name="nome" size="35"></label>
				</div>
				<div class="form-group" >
					<label>e-mail:<br/>
					<input type="email" name="e-mail" size="35"></label>
				</div>
				<div class="form-group" >
					<label>Telefone:<br/>
					<input type="text" name="telefone" size="35"></label>
				</div>
				<div class="form-group" >
					<label>Sexo:
						<select name="sexo" >
							<option value="feminino">Feminino</option>
							<option value="Masculino">Masculino</option>
						</select>
					</label>
				</div>

			</div>

			<div class="col-md-5 col-sm-12">
						<h4>Áreas de interesse:</h4>
						<div class="form-group"><label><input type="checkbox" name="interesse" value="redesi" >Redes de Computadores I</label></div>
						<div class="form-group"><label><input type="checkbox" name="interesse" value="redesii" >Redes de Computadores II</label></div>
						<div class="form-group"><label><input type="checkbox" name="interesse" value="Algoritmosi" >Algoritmos de programação I</label></div>
						<div class="form-group"><label><input type="checkbox" name="interesse" value="Algoritmosii" >Algoritmos de programação II</label></div>
						<div class="form-group"><label><input type="checkbox" name="interesse" value="Algoritmosiii" >Algoritmos de programação III</label></div>
						<div class="form-group"><label><input type="checkbox" name="interesse" value="Outros" >Outros</label></div>
				<div class="form-group" >
					<label><input class="form-control" type="submit" name="cadastrar" value="Cadastrar"></label>
				</div>
			</div>

		</form>
		rAFAE
	</div>
</div>


{% endblock %}
