{% extends 'layout.twig' %}

{% block content %}
<form action="./professor/{{ professor.getId() }}/" method="post">

	<p>
		Tem certeza que deseja excluir o professor {{ professor.getPessoa().getNome() }}?
	</p>

	<button type="submit">Excluir</button>

	<input type="hidden" name="_method" value="DELETE">
</form>
{% endblock %}
