{% extends "layout.twig" %}

{% block content %}
	<h1>Manter Aluno</h1>
	<div class="row">
		<div class="col-xs-12">
			<form action="aluno/" method="get">
				<table class="table table-striped">
					<thead>
						<tr>
							<th width="100px">Matricula</th>
							<th>Aluno</th>
							<th width="150px">Ação</th>
						</tr>
					</thead>
					<tbody>
						{% for aluno in alunos %}
							<tr>
								<td>{{ aluno.matricula }}</td>
								<td>{{ aluno.nome }}</td>
								<td>
									<input type="submit" class="btn btn-warning btn-xs" name="editar" value="Editar" formaction="aluno/editar/" >
									<input type="submit" class="btn btn-danger btn-xs" name="excluir" value="Excluir" formaction="aluno/{{ aluno.id }}/" formmethod="DELETE">
								</td>
							</tr>
						{% endfor %}
					</tbody>
				</table>
			</form>
		</div>
	</div>
	<div class="row">
		<div class="col-xs-12">
			<a href="aluno/inserir" class="btn btn-success pull-right">Cadastrar Aluno</a>
		</div>
	</div>
{% endblock %}
