{% extends "layout.twig" %}

{% block styles %}
{% endblock %}

{% block content %}
  <div class="row">
	  <div class="col-sm-12 col-xs-12">
		  <h3>{{ titulo }} <small></h3>
	  </div>
  </div>
  <form id="form-js" class="form-default">


  </form>

{% endblock %}

{% block scripts %}
{% endblock %}
