/*
    Created in 31/10/2016
    Author by Ricardo Martins
*/

.btn-tcc-cadastrar{
  margin-top: 10px;
  margin-bottom: 20px;
}
@media (min-width: 768px) {
  .btn-tcc-cadastrar{
    margin-top: 16px;
    margin-bottom: 10px;
    float: right;
  }
}
