{% extends "layout.twig" %}
{% block styles %}
  <link rel="stylesheet" href="./app/aluno/etapa/enviar.css">
{% endblock %}
{% block content %}
  <div class="row">
	  <div class="col-sm-12 col-xs-12">
		  <h3>Listar Aluno</h3>
	  </div>
  </div>
  {% for etapa in etapas %}
	<div class="row">
		<div class="col-sm-12 col-xs-12">
			<p>{% etapa.nome %}</p>
		</div>
	</div>
  {% endfor %}
{% endblock %}
{% block scripts %}
{% endblock %}
