<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Créditos - sistemaTCC</title>
    </head>
    <body>
        <h1>Créditos</h1>
        <p>
            Alunos do Curso de Ciência da Computação
        </p>
    </body>
</html>
