/*
    Created on : 07/10/2016, 14:45:05
    Author     : Thiago Moura
*/
.btn-aluno-cadastrar{
  margin-top: 10px;
  margin-bottom: 20px;
}
@media (min-width: 768px) {
  .btn-aluno-cadastrar{
    margin-top: 16px;
    margin-bottom: 10px;
    float: right;
  }
}
