{% extends "layout.twig" %}
{% block styles %}
  <link rel="stylesheet" href="./app/enviaretapa/nota.css">
{% endblock %}
{% block content %}
  <div class="row">
	  <div class="col-sm-12 col-xs-12">
		  <h3>{{ titulo }} <small>{{ subtitulo }}</small></h3>
	  </div>
  </div>
  <div class="row">
	  {% if etapa|length == 0 %}
		<div class="col-xs-12">
			<div class="alert alert-danger" role="alert">
				<i class="fa fa-bug" aria-hidden="true"></i>
				<span class="sr-only">Erro:</span>
				Falha ao encontrar etapa.
			</div>
		</div>
	  {% elseif etapa_entrega|length == 0 %}
		<div class="col-xs-12">
			<div class="alert alert-warning" role="alert">
				<i class="fa fa-warning" aria-hidden="true"></i>
				<span class="sr-only">Atenção:</span>
				A etapa não foi entregue.
			</div>
		</div>
	  {% elseif notas|length == 0 %}
		<div class="col-xs-12">
			<div class="alert alert-warning" role="alert">
				<i class="fa fa-warning" aria-hidden="true"></i>
				<span class="sr-only">Atenção:</span>
				A etapa não foi avaliada. Aguarde a avaliação do professor!
			</div>
		</div>
	  {% else %}
		<div class="col-xs-12">
		</div>
	  {% endif %}
  </div>
  <div class="row">
	  <div class="col-xs-12">
		  <a href="./enviaretapa/listar/" class="btn btn-default"><i class="fa fa-angle-left" aria-hidden="true"></i> Voltar</a>
	  </div>
  </div>
{% endblock %}
{% block scripts %}
{% endblock %}
